<ul class="Clientes">
  <li>
    <div>
      <a class="remove-item"><i class="fa fa-check"></i></a>
    </div>
    <a>
      Cliente um <br>
      <small>12/12/2020</small>
    </a>
  </li>
  <li>
    <div>
      <a class="remove-item"><i class="fa fa-check"></i></a>
    </div>
    <a>
      cliente 2 <br>
      <small>12/12/2020</small>
    </a>
  </li>
  <li>
    <div>
      <a class="remove-item"><i class="fa fa-check"></i></a>
    </div>
    <a>
      cliente 3 <br>
      <small>12/12/2020</small>
    </a>
  </li>
</ul>
