<form action="">
  <h1>Novo Cliente</h1>
  <br>
  <h2>Nome Completo</h2>
  <textarea name="nomeClie" id="nomeclie" placeholder="Ex: Fulano de tal" cols="30"></textarea>
  <small class="error">
    <strong>Nome Inválido</strong>
  </small>
  <br>
  <h2>Data de Nascimento</h2>
  <input type="date">
  <small class="error">
    <strong>Data Inválida</strong>
  </small>

  <br>
  <h2>CEP</h2>
  <textarea name="cepClie" id="cepclie" placeholder="88888000" cols="30"></textarea>
  <small class="error">
    <strong>CEP Inválido</strong>
  </small>
  <br>
  <h2>Endereço</h2>
  <textarea name="endClie" id="endclie" placeholder="Ex: Rua/Av brasil" cols="30"></textarea>
  <small class="error">
    <strong>Enderço Inválido</strong>
  </small>
  <br>
  <h2>Complemento</h2>
  <textarea name="complemetoClie" id="complementoclie" placeholder="Ex: Fundos" cols="30"></textarea>
  <br>
  <h2>Bairro</h2>
  <textarea name="bairroClie" id="bairroclie" placeholder="Ex: agua boa" cols="30"></textarea>
  <br>
  <h2>Cidade</h2>
  <textarea name="cidadeClie" id="cidadeclie" placeholder="Ex: Maringá" cols="30"></textarea>
  <br>
  <h2>Estado</h2>
  <textarea name="estadoClie" id="estadoclie" placeholder="Ex: Paraná" cols="30"></textarea>
  <br>
  <br>
  <p class="text-right">
    <app-button>
      <i class="fa fa-save"></i>
      Salvar
    </app-button>

  </p>
</form>
